/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/05/2020, 1:08:01 PM
    Author     : kei wang
*/

#AnchorPane {
    -fx-background-color: linear-gradient(#20A4F3, #182B3A);
}

#applyButton{
    -fx-background-color: linear-gradient(#09C6F9, #045DE9);
    -fx-text-fill: white;
}

#resetButton{
    -fx-background-color: linear-gradient(#EC9F05, #FF4E00);
    -fx-text-fill: white;
}

#closeButton {
    -fx-background-color: linear-gradient(#FF0000, #990000);
    -fx-text-fill: white;
}

#applyButton:hover, #closeButton:hover, #resetButton:hover {
    -fx-scale-y: 1.1;
}

#applyButton:pressed, #closeButton:pressed, #resetButton:pressed {
    -fx-background-color: #09C6F9;
    -fx-scale-y: 0.8;
}