/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/05/2020, 1:07:20 PM
    Author     : kei wang
    Reference: images - https://www.pngguru.com/free-transparent-background-png-clipart-blwyh
*/


#mainPane {
    -fx-background-color: linear-gradient(#5DE6DE, #B58ECC);
}

#getStartedPane, #aboutIconsPane, #whatPane, #toolPane, #futurePane {
    -fx-background-color: white;
    -fx-background-image: url("back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
